[x-cloak] {
    display: none;
}

@media (min-width: 640px) {
    .tablemobile {
      display: inline-table !important;
    }

    .tablemobile thead tr:not(:first-child) {
      display: none;
    }

    .tablemobile thead {
        border-bottom-width: 2px;
    }

    .tablemobile tr td div { 
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .actions {
        width: 150px;
    }
}

@media (max-width: 640px) {
    .tablemobile { 
        /* flex */
        display: flex;
    }

    .tablemobile thead tr {
        /* text-sm */
        font-size: 0.875rem;
        text-align: right;
        padding-right: 10px;
    }
    
    .tablemobile tr td {  
        height: 40px;  
        line-height: 40px;
        padding: 0px;
    }

    .tablemobile tr td a {    
        line-height: 20px;
    }

    .tablemobile tr td button {
        line-height: 20px;
    }

}

/* TOM SELECT custom */
.ts-wrapper {
    @apply w-full !ml-0;
  }
  
  .ts-control {
    @apply
      shadow-sm
      rounded-lg
      border-gray-300
      bg-white
      py-2
      px-3
      text-base;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e") !important;
      background-position: right 0.5rem center !important;
      background-repeat: no-repeat !important;
      background-size: 1.5em 1.5em !important;
  }
  
  .ts-dropdown {
    @apply rounded-md border border-solid border-t border-gray-300 text-base;
  }
  
  .ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-lg;
  }
  
  .ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-lg;
  }
  
  .ts-dropdown .create:hover, .ts-dropdown .option:hover{
    @apply text-sky-900;
  }
  
  .ts-dropdown .active {
    @apply text-gray-900;
  }