[x-cloak] {
    display: none;
}

@media (min-width: 640px) {
    .tablemobile {
      display: inline-table !important;
    }

    .tablemobile thead tr:not(:first-child) {
      display: none;
    }

    .tablemobile thead {
        border-bottom-width: 2px;
    }

    .tablemobile tr td div { 
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .actions {
        width: 150px;
    }
}

@media (max-width: 640px) {
    .tablemobile { 
        /* flex */
        display: flex;
    }

    .tablemobile thead tr {
        /* text-sm */
        font-size: 0.875rem;
        text-align: right;
        padding-right: 10px;
    }
    
    .tablemobile tr td {  
        height: 40px;  
        line-height: 40px;
        padding: 0px;
    }

    .tablemobile tr td a {    
        line-height: 20px;
    }

    .tablemobile tr td button {
        line-height: 20px;
    }

}

/* TOM SELECT custom */
.ts-input {
    padding: 10px 8px;
    border-radius: 0.5rem;
    border-color: rgba(209, 213, 219, 1.0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.ts-input.focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0 0 0 3px rgba(199, 210, 254, 0.5);
    border-color: rgba(165, 180, 252, 1.0); 
}
.ts-input.dropdown-active {
    border-radius: 0.5rem 0.5rem 0 0; 
}
.ts-dropdown {
    margin: -5px 0 0 0;
    border-radius: 0 0 0.5rem 0.5rem;
    padding-bottom: 4px;
}
.ts-control.single .ts-input:after {
    content:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24' stroke='%239CA3AF'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 9l4-4 4 4m0 6l-4 4-4-4' /%3E%3C/svg%3E");
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 24px;
    height: 24px;
    border: none;
}

.ts-control {
    background: white;
}